*{
	margin:0;
	padding:0;
	box-sizing:border box;	
}

.heading{
	color:white;
	position:absolute;
	top:40%;
	width:100%;
	text-align:center;
	font-size:100px;
	text-shadow:5px 5px 10px #000000;
}

header{
	background-image: url('1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height:600px;
	font-size:20px;
}

.main ul{
	float:right;
	list-style-type: none;
	margin-top:20px;
}

.main ul li{
  display: inline-block; 
}

.main ul li a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.main ul li a:hover{
	color:yellow;
}

li button{
	background-color: blue;
}

.logo img{
	float:left;
	width:40px;
	height:auto;
}

.a{
    max-width:900px;
    margin:auto;
    Transform: rotateZ(30 deg);
}
.a img{
	width:90px;
	height:200px;
	border-radius:20%;
	transition-property: width;
	transition-durataion:5s;
	transition-delay:0s;
	transition-timing-function:ease-in-out;
	}

.a img:hover{
	background-color:yellow;
	width:200px;
}

 aside {
     float: left;
     height:400px;	
     background:#FBCEB1;
     width:50%;
     border-radius:10px;
 }
 aside form{
     	color: white;
     	padding: 20px;
	color:black;
	border-radius:10px;
	font-size:120%;
 }
 main{
     float: left;
     background-color:#CCCCCC;
     border-radius:10px;
     height: 400px;
     width: 50%;
 }

.video{
	color:white;
	padding: 50px;
	background:#3a445e;
}

.isha img{
	clip-path:circle();
 	float: left;	
	width:25%;
	margin-top:5%;
	margin-left:10%
}

.herchelle img{
	clip-path:circle();
 	float: left;	
	width:25%;
}

.vrinda img{
	clip-path:circle();
 	float: left;
	width:25%;
	
	}


footer{
	padding: 20px;
	border-radius:10px;
	background:black;
	height:100px;
	width:97%;
	padding: 20px;
	color: white;
        margin-top:400px;
}

.footer-left{
	float:left;
	margin-left:20%;
	width:20%;
	margin-top:10px;
}

.main{
	margin-left:5%;
	float:left;
	width:20%;
	margin-top:10px;
}

.footer-right{
	float:left;
	margin-top:10px;
	width:20%;
}

